<!DOCTYPE html>
<html>
<head>
  <title>ThoughtboxRedux</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

<body>

  <% if current_user %>
    <%= link_to "Log out", logout_path, method: :delete %>
  <% end %>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg %>
  <% end %>

<%= yield %>


<!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>



</body>
</html>
